body {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    background: #FFFFFF;
}

/* content : content of the site, all content elements should be enclosed inside this class */
.content {
    width: clamp(200px, 70%, 1200px);
    margin-top: 6rem; /* top margin = navbar size*/
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
/* container-inline : everything in a container is inline, used to make navbar and footer*/
.container-inline {
    display: flex; /* make everything in 1 line */
    margin-left: 1rem; /* left margin */
    margin-right: 1rem; /* right margin */
}

/* navbar : navigation bar */
.navbar {
    background: #343a40; /* navbar background */
    position: fixed; /* always stay on top */
    top: 0;
    width: 100%; /* width */
    height: 3rem; /* fixed height */
}

.navbar-icon {
    padding: 0.5rem; /* padding left right top bottom*/
    margin-top: auto ;
    margin-bottom: auto ;
    font-size: 1.5rem !important;
    font-weight: 500;
    color: whitesmoke !important;
    font-family: "Montserrat", Helvetica, sans-serif !important;
    text-decoration: none;
}

.navbar-button-list {
    position: absolute;
    right: 0.6rem;
}

.navbar-button-list > li {
    display: inline; /* button list inline */
    padding: 0.6rem; /* padding between buttons */
}

.navbar-button {
    color: grey; /* button text color */
    font-family: "Montserrat", Helvetica, sans-serif !important;
    text-decoration: none;
}

.navbar-button:hover {
    color: white; /* button text color when mouse hovers*/
}

/* footer */
footer {
}

.footer-button-list > li {
    display: inline; /* button list inline */
}

.footer-button {
    text-decoration: none;
}

/* typography : h1 h2 ... h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: darkblue;
    font-weight: 500;
}

h1 {
    margin-bottom: 4rem;
}

h2, h3 {
    margin: 0 0 2rem !important;
    color: slategray;
}

h4 {
    text-transform: uppercase;
}

h4, h5, h6 {
    color: slategray !important;
}

